[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/flingengine/spdlog.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/flingengine/Catch2.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/flingengine/glm.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/flingengine/glfw.git
[submodule "external/inih"]
	path = external/inih
	url = https://github.com/flingengine/inih.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/flingengine/json.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/flingengine/tinyobjloader.git
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/flingengine/cereal.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/flingengine/imgui.git

[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git


[submodule "external/imgui_entt_entity_editor"]
	path = external/imgui_entt_entity_editor
	url = https://github.com/Green-Sky/imgui_entt_entity_editor.git
